<div class="invoice-container">
  <div class="header">
      <div class="img-spacer">
        <img src="" alt="Image Placeholder">
      </div>
      <div class="store-details-pane">5717 - Woodcroft</div>
      <div class="store-address">Shop 5, 201 Bains Road</div>
  </div>

  <div class="bill-amount-pane">
    <h3 class="bill-amount">$28.30</h3>
  </div>

  <div class="details">
    <div class="description">
      <p>The Vegan Shiraz</p>
      <p>Qty 6 $7.50 each <span>$45.00</span></p>
      <p>Buy 6 or more bottles of wine to get 30% <span>-13.50</span></p>
      <p>Rewards offer <span>-3.18</span></p>
      <p>^Promotional Price</p>
    </div>
    <div class="calculation">
      <p>Subtotal <span>$28.32</span></p>
      <p>Rounding <span>-$0.02</span></p>
      <p class="total">TOTAL (6 items) <span>$28.30</span></p>
      <p>#Total includes GST <span>$2.57</span></p>
    </div>
  </div>

  <div class="payment">
    <p>Payment</p>
    <p>Cash <span>$28.30</span></p>
    <p>Change: <span>$0.00</span></p>
  </div>

  <div class="savings">
    <h3>You saved $61.68 🎉</h3>
  </div>

  <div class="congratulations">
    <p class="thanks">CONGRATULATIONS.
    You have saved 10% on your wine purchase!.
    Remember you can collect points and get money off your shopping in BWS.
    For terms & conditions visit.<p></p>
  </div>
</div>